@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: 0;

}

.merriwether-font{
    font-family: "Merriweather", serif;
}
body{
    font-family: "Inter", serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Banner-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.container{
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;

}

.banner{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
}
.banner h3{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner h2{
    font-size: 72px;
    line-height: 95px;
}

.text-align{
    text-align: center;
}

.all-categories{
    margin-top: 100px;
}
.off-heading{
    font-weight: bold;
    color: #FF0000;
    font-size: 88px;
    margin-bottom: 30px;
}
.categories-sub-heading{
    color: #FF0000;
    font-weight: 500;
    font-size: 24px;
}
.categories-heading{
    margin: 20px;
    font-size: 48px;
}

.categories-img img{
    height: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#party-section{
    max-width: 1320px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Vectorrr.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 150px;
}
.party-section{
    display: flex;
    color: #fff;
    align-items: center;
}

.party-content h2{
    font-size: 64px;
    font-weight: 900;
    margin-top: 100px;
    line-height: 88px;
}
.party-content p{
    margin: 50px 0;
    font-size: 18px;
    line-height: 30px;
}

.party-content button{
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.party-img{
    margin: 30px auto;

}
.party-img img{
    width: 320px;
}

.info{
    height: 480px;
    
}

.info-container{
    border-radius: 20px;
    background: #FF00001A;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    line-height: 56px;
    font-weight: 500;
}

.highlight-color{
    color: #FF0000;
}

.info-container button{
    padding: 20px 35px;
    font-size: 32px;
    font-weight: 500;
    background-color: #FF0000;
    color: #fff;
    border-radius: 15px;
}

.offer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 100px auto;
    align-items: center;
}

.offer-details h4{
    font-size: 24px;
    font-weight: 500;
}
.offer-details h2{
    font-size: 48px;
    font-weight: 900;
    margin: 50px 0;
}
.offer-details p, .offer-more-details p, .portfolio-container p, .subscribe-container p{
    font-size: 20px;
    color: #07021199;
    line-height: 32px;
}
.offer-more-details p, .portfolio-container p{
    margin: 50px auto;
}

.offer-more-details h1{
    font-size: 48px;
    font-weight: 600;
}
.offer-img {
    border: 10px solid #FF0000;
    padding: 30px;
    border-radius: 50%;
}


.portfolio-container h1{
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
}
.portfolio-container h2{
    font-size: 24px;
}

.portfolio-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.portfolio-images div{
    display: flex;
    justify-content: center;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
}

.portfolio-images div:hover{
    box-shadow: 10px 10px 10px #e89a9a;
    transition: .7s;
}

.portfolio-images div img{
    width: 100%;
    transition: .7s;
}
.portfolio-images div img:hover{
    transform: scale(1.2)
}

.subscribe{
    height: 620px;
}
.subscribe-container{
    margin: 50px auto;
    padding: 100px;
    height:100%;
    border-radius: 20px;
    background: #FF00001A;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.subscribe-container h2{
    font-size: 48px;
    font-weight: 900;
}

.subscribe-container input{
    padding: 15px 30px;
    width: 500px;
    border-radius: 20px 0 0 20px;
    font-size: 20px;
    color: #07021199;
}

.subscribe-container button{
    padding: 15px 25px;
    background-color: #FF0000;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.footer{
    background-color: #070211;
    margin-top: 100px;
    padding: 100px;
    color: #fff;
    line-height: 40px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}
.footer-content div> div{
    display: flex;
    gap: 10px;
    align-items: center;
}


.footer-social{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 30px;
    border-bottom: 1px solid;
}

.footer-social img{
    cursor: pointer;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}