@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;

}

.merriwether-font{
    font-family: "Merriweather", serif;
}
body{
    font-family: "Inter", serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Banner-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.container{
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;

}

.banner{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
}
.banner h3{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner h2{
    font-size: 72px;
    line-height: 95px;
}

.text-align{
    text-align: center;
}

.all-categories{
    margin-top: 100px;
}
.off-heading{
    font-weight: bold;
    color: #FF0000;
    font-size: 88px;
    margin-bottom: 30px;
}
.categories-sub-heading{
    color: #FF0000;
    font-weight: 500;
    font-size: 24px;
}
.categories-heading{
    margin: 20px;
    font-size: 48px;
}

.categories-img img{
    height: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.party-section{
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Vectorrr.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px;
}

